<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ProjektDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ProjektDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="DBProjektOutput.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <add name="SteinbachEntities_vpn" connectionString="metadata=res://*/SteinbachModel.csdl|res://*/SteinbachModel.ssdl|res://*/SteinbachModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.10.251;Initial Catalog=ProjektDB_Steinbach_Demo;User ID=sa;Password=root;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SteinbachEntities_Steinbach" connectionString="metadata=res://*/SteinbachModel.csdl|res://*/SteinbachModel.ssdl|res://*/SteinbachModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Datenserver;Initial Catalog=ProjektDB_Steinbach;User ID=sa;Password=root;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SteinbachEntities_Notebook" connectionString="metadata=res://*/SteinbachModel.csdl|res://*/SteinbachModel.ssdl|res://*/SteinbachModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AS-NOTEBOOK;Initial Catalog=ProjektDB_SteinbachOrg;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SteinbachEntities" connectionString="metadata=res://*/SteinbachModel.csdl|res://*/SteinbachModel.ssdl|res://*/SteinbachModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WINDOWS8SSD\SQLSERVEREXPRESS;Initial Catalog=ProjektDB_Steinbach;Integrated Security=True;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProjektDB.Properties.Settings.SteinbachConnectionString" connectionString="Data Source=ASNOTEBOOK\SQL2008NB;Initial Catalog=Steinbach;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <ProjektDB.Properties.Settings>
      <setting name="ProjekteAusklappen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AnimationsFrequenz_ms" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value>J. Steinbach</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>jörg</value>
      </setting>
      <setting name="SaveCredentials" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="JetsKommissionErsatzteileNeu" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DatagridSettingsArtikelDetails" serializeAs="String">
        <value />
      </setting>
      <setting name="DatagridSettingsLagerliste" serializeAs="String">
        <value />
      </setting>
      <setting name="rbRangeListeArtikelbewegungen" serializeAs="String">
        <value>1</value>
      </setting>
    </ProjektDB.Properties.Settings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <applicationSettings>
    <ProjektDB.Properties.Settings>
      <setting name="AltePlantEintraegeEinblenden" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppVersion" serializeAs="String">
        <value>09.04.2014</value>
      </setting>
    </ProjektDB.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
